h1 {
  color: rgb(211, 183, 40);
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
  object-fit: scale-down;
  float: right;
}

.img-all {
  float: left;
}

.fun-fact {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.cool-fact {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.cute {
  color: rgb(225, 49, 131);
  font-weight: bold;
}

.lovely {
  color: rgb(197, 85, 37);
  font-weight: bold;
}

.middle {
  text-align: center;
}

.my-projects {
  margin: 10px;
  border: solid;
  border-width: auto;
  background-color:rgb(211, 183, 40);
  box-sizing: border-box;
}